$corHeader: linear-gradient(120deg, #1a8bd6 0%, #1a8bd6 15%,
                                    #1f3ec9ef 16%, #1f3ec9ef 29%,
                                    red 30%, red 42%,
                                    white 43%);
$corDeFundo: #0c0303;
$corTexto: #cccc;