$corHeader: linear-gradient(120deg, #45aaf2 0%, #45aaf2 15%,
                                    #3867d6 16%, #3867d6 29%,
                                    red 30%, red 42%,
                                    white 43%);
$corDeFundo: #0c0303;
$corTexto: #a5b1c2;